<!-- Toolbar fijo arriba -->
<mat-toolbar class="app-toolbar">
  <span class="logo">My Blog</span>
  <span class="spacer"></span>

  <!-- Usuario no autenticado -->
  <ng-container *ngIf="!(isLoggedIn$ | async); else logged">
    <a mat-button routerLink="/auth/login">Login</a>
    <a mat-button routerLink="/auth/register">Register</a>
  </ng-container>

    <!-- Usuario autenticado -->
  <div class="user-section">
      <ng-template #logged>
        <span class="user-email">
          <span 
          >{{ (userEmail$ | async)?.email }}</span>
        </span>
    <button mat-icon-button (click)="onLogout()" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  </div>


</mat-toolbar>


