<mat-card class="post-card">

  <!-- HEADER -->
<div class="header-row">

  <div class="title-section">

    <h2 class="post-title">
      {{ post.title }}
    </h2>

    <div class="title-actions" *ngIf="isLoggedIn$ | async">
      <button *ngIf="canEdit"
        mat-icon-button
        class="action-btn"
        (click)="editPost()">
        <mat-icon>edit</mat-icon>
      </button>

      <button *ngIf="canEdit"
        mat-icon-button
        class="action-btn"
        (click)="deletePost()">
        <mat-icon>delete</mat-icon>
      </button>

    </div>

  </div>

  <div class="header-meta">

    <span class="team-badge">
      Team {{ post.author_team }}
    </span>

    <span class="author-name">
      {{ post.author_email }}
    </span>

    <span class="meta-info">
      {{ post.created_at | date:'medium' }}
    </span>

  </div>

</div>

  <!-- EXCERPT -->
  <div class="post-excerpt">
    <p>
      {{ post.excerpt | slice:0:250 }}
      <ng-container *ngIf="post.content.length > 250">
        ...
        <a class="show-more" (click)="openPost()">Show more</a>
      </ng-container>
    </p>
  </div>


  <!-- STATS + ACTIONS -->
  <div class="post-actions-row">

    <!-- Left side: counts -->
    <div class="counts">
      <span class="clickable" (click)="openLikes()">
        {{ post.likes_count }} Likes
      </span>

      <span class="clickable" (click)="openPost()">
        {{ post.comments_count }} Comments
      </span>
    </div>

    <!-- Right side: buttons -->
    <div class="buttons" *ngIf="isLoggedIn$ | async">

      <button
        mat-icon-button
        class="action-btn"
        [class.liked]="post.is_liked"
        (click)="toggleLike()">

        <mat-icon>
          {{ post.is_liked ? 'favorite' : 'favorite_border' }}
        </mat-icon>

      </button>

      <button
        mat-icon-button
        class="action-btn"
        (click)="openPost()">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>


    </div>

  </div>


  <!-- PRIVACY (TEMPORAL) -->
  <div class="privacy-row">
    <span class="privacy-badge read">
      Read: {{ post.privacy_read }}
    </span>

    <span class="privacy-badge write">
      Write: {{ post.privacy_write }}
    </span>
  </div>

</mat-card>
