
<div class="post-list">
  <div *ngIf="loading" class="state-box loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading posts...</p>
  </div>

  <!-- ERROR -->
  <div *ngIf="!loading && error" class="state-box error">
    <mat-icon>cloud_off</mat-icon>
    <h3>Connection problem</h3>
    <p>{{ error }}</p>

    <button mat-raised-button color="primary" (click)="loadPosts()">
      Retry
    </button>
  </div>

  <div *ngIf="!loading && !error && posts.length > 0">
    <app-post-card
      *ngFor="let post of posts"
      [post]="post"
      (postDeleted)="onPostDeleted($event)"
    >
    </app-post-card>
  </div>

  <button
    *ngIf="isLoggedIn$ | async"
    mat-fab
    class="create-post-btn"
    (click)="createPost()">
    <mat-icon>add</mat-icon>
  </button>

  <div *ngIf="!loading && !error && posts.length > 0">
  <app-pagination
    [next]="pagination.next"
    [previous]="pagination.previous"
    [pageSize]="pageSize"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    (nextPage)="loadNext()"
    (previousPage)="loadPrevious()"
  ></app-pagination>
  </div>

</div>
