.create-post-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  background-color: black;   // fondo negro
  color: white;              // icono blanco
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
