
<div class="post-list">
  <p *ngIf="loading">Loading posts ...</p>
  <p *ngIf="error" style="color: red;">
    {{ error }}
  </p>

  <div *ngIf="!loading && !error && posts.length > 0">
    <app-post-card
      *ngFor="let post of posts"
      [post]="post"
      (postDeleted)="onPostDeleted($event)"
    >
    </app-post-card>
  </div>

  <button
    *ngIf="isLoggedIn$ | async"
    mat-fab
    class="create-post-btn"
    (click)="createPost()">
    <mat-icon>add</mat-icon>
  </button>

  <div *ngIf="!loading && !error && posts.length > 0">
  <app-pagination
    [next]="pagination.next"
    [previous]="pagination.previous"
    [pageSize]="pageSize"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    (nextPage)="loadNext()"
    (previousPage)="loadPrevious()"
  ></app-pagination>
  </div>

</div>