<form [formGroup]="form" (ngSubmit)="onSubmit()" class="post-form-container">

  <div class="header-row">
    <label class="field-label">Title: </label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="title" placeholder="Write the title" />
      <mat-error *ngIf="form.get('title')?.invalid  && form.get('title')?.touched">
        Title is required
      </mat-error>

      <mat-error *ngIf="form.get('title')?.hasError('whitespace') && form.get('title')?.touched">
        Title cannot be empty spaces
      </mat-error>
    </mat-form-field>
  </div>

    <div class="editor-header">
      <span class="field-label">Content:</span>
    </div>
  <div class="main-editor-card">


    <!-- <quill-editor formControlName="content" [modules]="quillConfig" theme="snow" class="styled-editor">
    </quill-editor> -->
    <input formControlName="content" />

  <mat-error *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
    Content is required
  </mat-error>

  <mat-error *ngIf="form.get('content')?.hasError('whitespace') && form.get('content')?.touched">
    Content cannot be empty spaces
  </mat-error>
</div>

<div class="permissions-container">
  <fieldset class="permissions-fieldset">
    <legend class="permissions-legend">Permissions</legend>

    <div class="permissions-grid">
      <div class="grid-header">Category</div>
      <div class="grid-header">Access</div>

      <div class="category-item">Public</div>
      <div class="access-item">
        <mat-select formControlName="public" class="custom-select">
          <mat-option value="none">None</mat-option>
          <mat-option value="read_only">Read Only</mat-option>
        </mat-select>
      </div>

      <div class="category-item">Authenticated</div>
      <div class="access-item">
        <mat-select formControlName="authenticated" class="custom-select">
          <mat-option value="none">None</mat-option>
          <mat-option value="read_only">Read Only</mat-option>
          <mat-option value="read_write">Read & Write</mat-option>
        </mat-select>
      </div>

      <div class="category-item">Team</div>
      <div class="access-item">
        <mat-select formControlName="team" class="custom-select">
          <mat-option value="none">None</mat-option>
          <mat-option value="read_only">Read Only</mat-option>
          <mat-option value="read_write">Read & Write</mat-option>
        </mat-select>
      </div>

      <div class="category-item">Owner</div>
      <div class="access-item">
        <mat-select formControlName="author" class="custom-select">
          <mat-option value="read_write">Read & Write</mat-option>
        </mat-select>
      </div>
    </div>
  </fieldset>
</div>


    <div class="actions">
      <button mat-flat-button type="submit" [disabled]="form.invalid">
        Save Post
      </button>
      <button mat-button type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>
